@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
    .nav__btn-line {
        display: none;
    }

    .menu{
        display:flex;
    }


}

@media (min-width: 992px) {

    .header__link-desktop {
        display: block;
        float: right;
    }

}

@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}

@media (max-width: 768px) {
    .header__link-desktop{
        display: none;
    }
}